<div class="post bg-light shadow p-1">
    <div class="post-profile">
        <div class="profile-image">
            <img class="profile-image-img" src="<%=data.creator.avatar%>" alt="profile">
        </div>
        <span class="profile-name"><%=data.creator.uname%></span>

    </div>
    <hr>
    <div class="post-body">
        <div class="post-body-img">

        </div>
        <%- include('./chart.ejs',{ctype:data.ctype,xvalue:data.xvalue,yvalue:data.yvalue,i:i+1})%>
    </div>
</div>
<hr>
<div class="post-footer-in-chart">
    <div class="showCmtBtn float-left" onclick="showComments(event)"><span>show comment</span></div>
    <div class="cmtbtn float-right" onclick="showCommentBox(event)">
        <p>comment</p>
    </div>

    <div class="cmt-form" class="cmt-form">
        <form action="/user/postcmntinchart/<%=data._id%>" method="post">
            <input type="button" class="btn btn-danger" value="Cancel" onclick="showCommentbtn(event)">
            <input type="text" class="input" name="cmntBody">
            <input type="submit" class="btn btn-primary" value="comment">

        </form>
    </div>
    <div class="posted-cmt">
        <span class="badge-sm badge-danger badge-pill float-left  mb-5" onclick="hideComment(event)">&times;</span>
        <ul>
            <%if(data.comments.length==0){%>
            <li>
                <p>No comment to show</p>
            </li>
            <%}else{%>
            <%data.comments.forEach(comment=>{%>
            <li>
                <div class="comment-section">
                    <div class="cmnt-profile float-left border d-inline">
                        <img class="cmnt-avatar thumbnail" src="<%=comment._id.avatar%>" alt="No Pic">
                    </div>
                    <div class="cmnt-body float-left">
                        <h5 class=" d-inline" style="font-size:20px"><%=comment._id.uname%></h5>
                        <p class=" d-block" style="font-size:16px"><%=comment.commentBody%></p>
                    </div>
                </div>
            </li>

            <%});%>
            <%}%>
        </ul>
    </div>
</div>
</div>

<script>
    showComments = (e) => {
        let selectedCard = e.target.parentElement.parentElement;
        let children = selectedCard.children;
        selectedCard.style.height = "auto";
        children[0].style.display = "none";
        children[1].style.display = "none";
        children[2].style.display = "none";
        children[3].style.display = "block";
    }
    showCommentbtn = (e) => {
        let selectedCard = e.target.parentElement.parentElement.parentElement;
        let children = selectedCard.children;
        selectedCard.style.height = "5%";
        children[2].style.display = "none";
        children[3].style.display = "none";
        children[1].style.display = "inline-block";
        children[0].style.display = "inline-block";
    }
    showCommentBox = (e) => {
        let selectedCard = e.target.parentElement.parentElement;
        let children = selectedCard.children;
        selectedCard.style.height = "7%";
        children[0].style.display = "none";
        children[1].style.display = "none";
        children[2].style.display = "inline-block";
    }
    hideComment = (e) => {
        let selectedCard = e.target.parentElement.parentElement;
        let children = selectedCard.children;
        selectedCard.style.height = "5%";
        children[2].style.display = "none";
        children[3].style.display = "none";
        children[1].style.display = "inline-block";
        children[0].style.display = "inline-block";
    }
</script>