<%- include('includes/header.ejs',{pageTitle:pageTitle})%>

<body style="text-align:center">
    <%- include('includes/backdrop.ejs')%>
    <%- include('includes/model.ejs',{error:error})%>
    <%- include('includes/navbar.ejs',{isLoggedin:isLoggedin})%>

    <%- include('includes/footer.ejs')%>

</body>